body {
    background-color: #222;
    color: white;
}

.wttr {
    position: absolute;
    right: 40px;
    bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #111;
}

.main-wrapper {
    height: 100vh;  
}

.section {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    background-color: #343434;
    height: 75px;
    width: 75px;
    display: grid;
    place-items: center;
}

.item {
    margin-bottom: 40px;
}

#grid {
    width: 60%;
}
